@import url('./tools');

.drawBack{
    background-color: #fff;
    min-width: 1108px;
}

.search{
    width: 96%;
    margin: 2%;
}

.drawBackList{
    width: 96%;
    margin: 2%;

    .qizi{
        width: 25px;
        height: 25px;
        margin-left: 5px;
        color: rgba(0, 0, 255, 0.71);
    }
}

.page{
    float: right;
    margin-right: 3%;
}

.tooltip{
    width: 200px;
    height: 50px;
}