@import url('./tools.less');

#search {
    background-color: #fff;
    padding: 5px;
    margin: 0px 15px auto 15px;
}


#search {
    .el-form {
        margin: 30px 18px auto 18px;
    }
}



.el-date-editor--daterange {
    .el-input {
        width: 200px;
        margin-left: 13px;
    }
}

.el-table {
    width: 95%;
    margin: 30px auto;
    display: block;
}