@import url('./tools.less');
.el-form {
	.el-row{
		/*width: calc(100%-80px);*/
		width: 1210px;
	}
	.warp{
	margin-top: 30px;
}
}


#search {
	.el-form{
		margin-left: 18px;
	}
}
.el-date-editor--daterange{
	.el-input{
		width: 200px;
	    	margin-left: 13px;
	}
}
.el-table{
	width: 95%;
	margin: 30px auto;
	display: block;
}