@import url('./tools.less');

.orderList {
    margin: 20px 15px;
    padding: 1px 15px;
    background-color: white;
}

.page {
    width: 100%;
    padding: 10px 0px 60px 0px;
    background-color: white;
}

#search {
    background-color: #fff;
    padding: 5px;
    margin: 0px 15px auto 15px;
}

#search {
    .el-form {
        margin: 30px 18px auto 18px;
    }
}


.el-date-editor--daterange {
    .el-input {
        width: 200px;
        margin-left: 13px;
    }
}

.textBlue {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: #0000ff;
    border: 1px solid #0000ff;
    border-radius: 40%;
    margin-left: 5px;
}

.textOrange {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: #ff6600;
    border: 1px solid #ff6600;
    border-radius: 40%;
    margin-left: 5px;
}

.textYellow {
    display: inline-block;
    height: 20px;
    line-height: 20px;
    color: white;
    background-color: #ffcc00;
    border: 1px solid #ffcc00;
    border-radius: 40%;
    margin-left: 5px;
}