@import url('./tools.less');

.slideWrap {
    width: 200px;
    height: 100%;
    background: red;
    .position(f);
    h2 {
        background-color: @blue;
        .color(@fff);
        .algin(c);
        .fontSize(18px);
        .line(46px);
        .blod;
    }
}