@import url('./tools.less');
.searchwrap{
    padding: 24px 20px 0 20px;
    position: relative;
    background-color: #fff;
    margin: 20px ;
    border-radius: 5px;
}
.t-bodywrap{
    padding: 0 20px;
    .t-body {
        background: #fff;
        padding: 20px 0;
        .add-btn{
            margin: 0px 0px 10px 20px;
        }
        .tablebar{
            padding: 0 20px;
            margin-bottom: 20px;
        }
        .plPage{
            text-align: right;
        }
        .operation{
            display: flex;
            span{
                margin: 0 5px;
                text-align: center;
                cursor: pointer;
            }
            span:last-child{
                flex: 1;
            }
            span:hover{
                color: #4db3ff;
            }
        }
    }
}
.green-color{
    background-color:#3AE045;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
}
.red-color{
    background-color:#FA2424;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
}