@import url('./tools.less');
.searchwrap{
    padding: 24px 20px 0 20px;
    position: relative;
    background-color: #fff;
    margin: 20px ;
    border-radius: 5px;
}
.t-bodywrap{
    padding: 0 20px;
    .t-body {
        background: #fff;
        padding: 20px 0;
        .add-btn{
            margin: 0px 0px 10px 20px;
        }
        .tablebar{
            padding: 0 20px;
            margin-bottom: 20px;
        }
        .plPage{
            text-align: right;
        }
        .operation{
            display: flex;
            span{
                margin: 0 5px;
                text-align: center;
                cursor: pointer;
            }
            span:last-child{
                flex: 1;
            }
            span:hover{
                color: #4db3ff;
            }
        }
        .limit-two{
            overflow:hidden; 
            text-overflow:ellipsis;
            display:-webkit-box; 
            -webkit-box-orient:vertical;
            -webkit-line-clamp:2; 
        }
    }
}
.green-color{
    background-color:#3AE045;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
}
.red-color{
    background-color:#FA2424;
    display: inline-block;
    width: 5px;
    height: 5px;
    margin: 0 5px;
    vertical-align: middle;
    border-radius: 50%;
}

.triangle{
    height:0px;
    width:0px;
    border:7px solid rgba(0, 0, 0, 0.35);
    border-color:transparent transparent rgba(0, 0, 0, 0.35) transparent;
    display:inline-block;
    margin-left:5px;
}

.msg{
    display:inline-block;
    font-size:12px;
    margin-left:5px;
}

.yuan{
    position: absolute;
    left: 90%;
    top: 0px;
    color:rgba(0, 0, 0, 0.35);
}